.home-page {
    background-color: rgb(218, 217, 206); /* Couleur de fond unie */
    min-height: 100vh; /* Hauteur minimale pour remplir la page */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    padding: 16px;
    background-color: #FFFFFF; /* Couleur de la boîte */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre */
    border-radius: 8px;
    max-width: 90%; /* Taille maximale de la boîte en pourcentage */
    width: 800px; /* Largeur de la boîte pour les écrans plus larges */
  
    /* Ajouter des styles pour une mise en page responsive */
    @media (max-width: 600px) {
        /* Styles spécifiques pour les écrans plus petits */
        width: 90%; /* Ajuster la largeur pour les écrans plus petits */
    }
  }
  
.button_home {
    height: 70px;
}